option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "5768943567465827355793846"
    MASTER_KEY: "SaeedBrunelAuc03121993Drenchula"
    DATABASE_URI: "mongodb://heroku_l5ndx25b:7jfk31a6mc7jt97f6sjptunosg@ds149711.mlab.com:49711/heroku_l5ndx25b"
    NODE_ENV: "production"
    SERVER_URL: "https://studyexchange.herokuapp.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
